@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300)

// Colors
$gray: #EEEEEE
$orange: #FF9966
$red: #E52B50
$darkred: #9C2542
$text: #212121

@import global
@import type
@import cta
@import form
    
.container
    margin: 0 auto
    max-width: 30rem

img
    width: 100%
    height: auto
    margin: 0 0 1rem
	
.credit
    margin: 2rem 0 0
    text-align: center
    
.hidden
    display: none
    
.thanks
    display: block
    max-width: 20rem
    margin: 0 auto
    
.back
    display: block
    margin: 2rem auto 0
    max-width: 20rem
    text-align: center
    
@media (max-width: 705px)
    h1
        font-size: 3.2em
    h3
        font-size: 1.8em
        
@media (max-width: 580px)
    h1
        font-size: 3em
    h3
        font-size: 1.4em