@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300)

// Colors
$gray: #EEEEEE
$orange: #FF9966
$red: #E52B50
$darkred: #9C2542
$text: #212121

@import global
@import type
@import cta
@import form
    
.container
    margin: 0 auto
    max-width: 30rem

img
    width: 100%
    height: auto
    margin: 0 0 1rem
	
.credit
    margin: 2rem 0 0
    text-align: center
    
.hidden
    display: none